[Unit]
Description=Auto-start Robot Service 

[Service]
Type=idle
User=waffle
Group=waffle
ExecStart=/home/waffle/start_robot/startup_launch.sh
Restart=on-failure
RestartSec=10

[Install] 
WantedBy=multi-user.target
